<div class="w-full max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl h-auto p-4 bg-white border border-gray-200 rounded-lg shadow-md sm:p-6 lg:p-8">
    <h3 class="mb-3 text-xl font-bold text-gray-900">Paste the URL to be shortened</h3>
    <%= form_for @link, remote: true do |form| %>
    <div class="flex items-end mb-3">
      <div data-element="fields" data-stacked="false" class="flex items-center w-full mb-3 gap-4">
        <%= form.text_field :original_url, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full" %>
        <%= form.submit "Shorten URL", class: "px-5 py-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-800 focus:ring-4 focus:ring-blue-300" %>
      </div>
    </div>
    <% end %>
    <div id="short-link" class="text-sm font-medium text-gray-500"></div>
  </div>