<div class="p-4 border-t border-gray-200">
  <div class="p-4 text-sm text-green-700 bg-green-100 rounded-lg" role="alert">
    <span class="font-bold">Shortened URL:</span> <%= link %>
  </div>
</div>